body{
    font-family: 'Poppins', sans-serif;
}
h1{
    font-size: 50px;
}
.orange-color{
    color: rgb(223, 62, 62);
}
section{
    display: flex;
    margin-bottom: 150px;
}
.flexible-container{
    display: flex;
    margin-bottom: 150px;
}
.half-width{
    width: 45%;
    padding-left: 2%;
}
.half-width img{
    width: 75%;
    padding-right: 2%;
}

.top-banner{
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}
.link-button{
    color: white;
    background-image: linear-gradient(rgb(235, 95, 30), crimson );
    border: round;
    padding: 10px 32px;
    font-weight: 700;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 4px 2px;
    cursor: pointer;
    
}
