body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}
h1{
    font-size: 50px;
}
h2{
    font-size: 35px;
}
.orange-color{
    color: rgb(223, 62, 62);
}

.flexible-container{
    display: flex;
    margin-bottom: 150px;
}
.half-width{
    width: 45%;
    padding-left: 2%;
}
.half-width img{
    width: 75%;
    padding-right: 2%;
}

.top-banner{
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}
.link-button{
    color: white;
    background-image: linear-gradient(rgb(235, 95, 30), crimson );
    border: round;
    padding: 10px 32px;
    font-weight: 700;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 4px 2px;
    cursor: pointer;
    
}
.experience-area{
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
    background-position:left;
}
.experience-item{
    width: 45%;
    box-shadow: 10px 10px 30px gray;
    margin-left: 5%;
    margin-right: 5%;
    padding-left: 20px;
    border-radius: 15px;
}
    
#web-dev-experience{
    border-left: 7px solid;
    border-image: linear-gradient(blue, cyan);
    border-image-slice: 1;
}
#baby-dev-experience{
    border-left: 7px solid;
    border-image: linear-gradient(green, red);
    border-image-slice: 1;
}
footer p{
    text-align: center;
}